.faqWrapper {
    padding: 1rem 1.25rem;
    margin: 0 auto;
}

.faqTitleWrapper {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.itemWrapper {
    padding-bottom: 1rem;
    border-bottom: 1rem;
    margin-bottom: 1.25rem;
}

.titleWrapper {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .faqWrapper {
        padding: 3rem 1.25rem;
    }
}